/* ------------------General------------------- */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16;
  color: black;
  height: 100%;
  background: #424242 url(/Pictures/Background\ color.png);
}
a {
  text-decoration: none;
  color: black;
}

/* ------------------Search------------------- */
.search {
  margin-top: 10px;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}
.search input {
  border-radius: 2px;
  border: none;
  height: 25px;
  margin-left: 20px;
}
.search button {
  border: 2px solid #fd7d24;
  background-color: #fd7d24;
  cursor: pointer;
  border-radius: 2px;
  height: 25px;
  margin-left: 10px;
}
.search i {
  color: #fff;
}
/* ------------------Logo------------------- */

.logo {
  width: fit-content;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}
.logo img {
  width: 300px;
  height: auto;
}
/* ------------------Content------------------- */

.container {
  background: #fff url(/Pictures/Background\ color\ 2.png);
  width: 900px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 350px 350px;
  gap: 20px;
  padding: 40px;
  padding-bottom: 120px;
  margin-top: 20px;
  position: relative;
}
.sub-container {
  position: relative;
}

.sub-container > a {
  background-color: #e4e2e2cb;
  display: block;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
}
.sub-container img {
  max-width: 250px;
  height: auto;
  top: 0;
  transition: 0.5s;
}

.info {
  position: absolute;
  top: 280px;
  margin-left: 20px;
}
.info a {
  display: block;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}
.info > div {
  text-align: center;
  border-radius: 5px;
  color: #fff;
  width: 100px;
}
.sub-container a:hover img {
  transform: scale(1.3);
}
/* ------------------Button Load More------------------- */

.load-more {
  display: inline-block;
  padding: 15px;
  background-color: #30a7d7;
  line-height: 150%;
  position: absolute;
  bottom: 30px;
  right: 50%;
  transform: translate(50%, 0);
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
